/*font-family, font-weight, font-style, color, background-color*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');





h1 {font-family:EB Garamond;
    font-size:64px;
    font-weight:700;
    font-style:bold;
    color:#8a4049;}

/*dodaj body stil po potrebi*/

p {font-family:Manrope; 
   font-size:16px;
   font-weight:400;
   font-style:normal;
   color:#333333;
   background-color:#f9f9f9;
   }

body {
    margin: 20px;
    padding: 20px;
    background-color: #f5f1e9;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px;
}