/*font-family, font-weight, font-style, color, background-color*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');





h1 {font-family:EB Garamond;
    font-size:64px;
    font-weight:700;
    font-style:bold;
    color:#8a4049;
    text-align:center;}

h2 {font-family:EB Garamond;
    font-size:32px;
    font-weight:600;
    font-style:bold;
    color:#8a4049;
    text-align:center;} 

.horizontal {text-align: center;} 
.horizontal li {list-style-type:none;
    float:none;
    display: inline;
    padding: 7px;
    font-family:Manrope;
    font-size:14px;}

h3 {font-family:EB Garamond;
    font-size:24px;
    font-weight:600;
    font-style:bold;
    clear: both;}

em {font-style: italic;
    color:#8a4049;
    font-weight: 600;}

    /*dodaj body stil po potrebi*/

p {font-family:Manrope; 
   font-size:16px;
   font-weight:400;
   font-style:normal;
   color:#333333;
   background-color:#f9f9f9;
   }

body {
    margin: 20px;
    padding: 20px;
    background-color: #f5f1e9;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px;
}

ul {font-family:Manrope;
    font-size:16px;
    font-weight:400;
    font-style:normal;
    list-style-type: circle;
    }

.side-note {
    float:right;
    width: 500px;
    padding: 10px;
    background-color: #8a4049;
    margin: 40px 0px 40px 0px;
    border-radius: 8px;
    font-style: italic;
    font-size: 20px;
}
.side-note p {
    background-color:#8a4049;
    color:#f5f1e9
}


ol {font-family:Manrope;
    font-size:16px;
    font-weight:400;
    font-style:normal;
    list-style-type: decimal;
    line-height: 2;
    }

span {color:rgb(225, 92, 43);
      font-style: italic;
    }



